@font-face {
    font-family: "plain light";
    src: url(./fonts/plain-regular-webfont.woff2);
}
@font-face {
    font-family: "plain light";
    src: url(./fonts/plain-light-webfont.woff2);
}
@font-face {
    font-family: "silk serif";
    src: url(./fonts/silkserif-regularitalic-webfont.woff2);
}
@font-face {
    font-family: "silk serif";
    src: url(./fonts/silkserif-lightitalic-webfont.woff2);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Plain Light";
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
    /* cursor: none; */
}

#crsr{
    position: fixed;
    height: 2.5vw;
    width: 2.5vw;
    border: 1px solid #fff;
    border-radius: 50%;
    z-index:9999;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    mix-blend-mode: difference;
}
#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030303;
    padding: 18vh 8vw; 
    /* display:none; */
}

.line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* align-items: center; */
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 5.5vw;
    overflow: hidden;
}

#line1-part1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5vw;

}

#line1-part1 h5,
#line1-part1 h6 {
    font-size: 3.5vw;
    font-weight: 200;
    font-family: "silk serif";
}

#line1-part1 h5 {
    width: 5vw;
    text-align: right;

}

.line h1 {
    font-size: 7vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;

}

.line h2 {
    font-size: 6.5vw;
    line-height: 6.9vw;
    font-weight: 900;
    text-transform: uppercase;
    /* animation-name: NowAnimation; */
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    opacity: 0;
}

#line-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.3vw;
}

#loader p{
    position: relative;
    top: 15%;
    left: 22%;
}

@-webkit-keyframes NowAnimation {
    0% {
        font-family: "plain light";
        -webkit-text-stroke: 1px white;
        opacity: 1;
        color: white;
        font-weight: 500;
    }

    48% {
        font-family: "plain light";
        -webkit-text-stroke: 1px white;
        color: white;
        font-weight: 500;
        opacity: 0;
    }

    50% {
        opacity: 1;
        font-family: "silk serif";
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 500;
    }

    100% {
        opacity: 0;
        font-family: "silk serif";
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 500;
    }
}

@keyframes NowAnimation {
    0% {
        font-family: "plain light";
        -webkit-text-stroke: 1px white;
        opacity: 1;
        color: white;
        font-weight: 500;
    }

    48% {
        font-family: "plain light";
        -webkit-text-stroke: 1px white;
        color: white;
        font-weight: 500;
        opacity: 0;
    }

    50% {
        opacity: 1;
        font-family: "silk serif";
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 500;
    }

    100% {
        opacity: 0;
        font-family: "silk serif";
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 500;
    }
}

#main {
    /* background-color: #151515; */
    background-color: #030303;
    position: relative;
}

.page1 {
    background-color: #151515;
    height: 100vh; 
    width: 100%;
}

#nav{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; 
    padding: 3.2vw 5.3vw;
    position: relative;
    /* background-color: red; */
}

#nav-part1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2.5vw;
    width:25% ;
    
}
#nav-part2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width:75%;
}
.nav-part2-2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2vw;

}
.nav-part2-1 h3, .nav-part2-2 h3{
    font-size:16px;
    font-weight: 300;
    line-height: 16px;
    font-weight: 500;
}
.hero{
    /* background-color: red; */
    width: 73%;
    margin-left: 27%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    overflow: hidden;
}
#hero h1{
    position: relative;
}
.heroes::before{
    content: "01";
    font-family: "silk serif";
    font-size: 3.1vw;
    font-weight: 400;
    position: absolute;
    left: 18%;
    top:36%;
}
.hero:nth-child(1){
    margin-top: 15.3vh;
}
.hero h1{
    
    font-size: 7.8vw;
    line-height: 6.7vw;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;

}
.hero h2, .hero h3{
    font-size: 7.8vw;
    line-height: 6.7vw;
    font-weight: 500;
    text-transform: uppercase;
   
}
.hero h2{
    border-bottom: 0.6vw solid white;
    padding-bottom: 5px;
   
}
.hero h3{
    font-size: 7.5vw;
    line-height: 6.7vw;
    font-weight: 500;
}
.hero h2:hover{
    border-bottom: 0.6vw solid transparent;
    -webkit-text-stroke: 1px white;
    color: transparent;
     -webkit-transition: color ease 0.2s;
     -o-transition: color ease 0.2s;
     transition: color ease 0.2s;
    -webkit-transition: border, ease 0.2s;
    -o-transition: border, ease 0.2s;
    transition: border, ease 0.2s; 
}

#flag{
    height: 23vw;
    position: absolute;
    top:0;
    left: 0;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    z-index: -99999;
    
    opacity: 0;
}


.page2{
    height: 100vh;
    width: 100%;
    padding: 10vh 0;
    background-color: #151515;
}
.video-container{
    height:70vh;
    width: 73%;
    position: relative;
    left: 27%;
    /* background-color: red; */
    background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
    background-size: cover;
    background-position: center;
}

.video-container video{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;

}
/* .video-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position:absolute;
    top: 0;
    z-index: 9;
} */
.video-cursor{
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    background-color: #FFA63D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: -10%;
    left: 80%;
    z-index: 999;
    -webkit-transition:scale ease 0.5s;
    -o-transition:scale ease 0.5s;
    transition:scale ease 0.5s;
}
.video-cursor i{
    font-size: 2.2vw;
}
.page3{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding:12vh 4.5vw
}
.page3 h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    position: relative;
    width: 73%;
    left: 27%;
}
.page3>h1::before{
    content: "02";
    font-family: "silk serif";
    font-size: 3.1vw;
    font-weight: 400;
    position: absolute;
    left: -13%;
    top:5%;
}
.underline3{
  background-color: #ffffffbd;
  height: 1px;
  margin: 5vw 0;
  width: 69%;
  position: relative;
  left: 27%;
}
.image-text-div>h1{
    text-transform: uppercase;
    font-size: 2.8vw;
    font-weight: 500;
    margin: 3vw 0;
    left:0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

#image-div-container{
    /* background: red; */
    padding: 1vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack:start;
        -ms-flex-pack:start;
            justify-content:flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 2vw;
    /* row-gap:12vw; */
}
.image-div{
    height: 39vw;
    width: 30vw;
    /* background-color: blue; */
}
.image-div img{
    height: 100%;
    width: 100%;
}
#image-div,#image-div5{
    height: 30vw;
    width: 23vw;
}
#image-text-div4{
    margin-top: -8vw;
}
#image-text-div5{
    margin-top: -20vw;
}
#image-text-div6{
    margin-top: -3.7vw;
}
.page3-circle{
    height: 23vw;
    width: 23vw;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-top:53vh;
    margin-left: 8vw;
    overflow: hidden;

}
.page3-circle svg{
    height: 40%;
}

.page3-circle2{
    height: 23vw;
    width: 23vw;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    overflow: hidden;
}
.page3-circle3{
    height: 23vw;
    width: 23vw;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-top:53vh;
    margin-left: 8vw;
    overflow: hidden;

}
.page3-circle2 svg{
    height: 40%;
    rotate:-45deg
}
.page3-circle3 svg{
    height: 40%;
    rotate:-90deg
}
.circle-in{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    scale:0;
    border-radius: 50%;
    -webkit-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}
.circle-in p{
    font-size: 1vw;
    color: #000;
    font-weight: 500;
    width: 60%;
    scale:0;
    opacity: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-transition-delay: 0.4s;
         -o-transition-delay: 0.4s;
            transition-delay: 0.4s;
}
.page3-circle:hover .circle-in{
    scale:1
}
.page3-circle:hover .circle-in p{
    scale:1;
    opacity: 1;
}
.page3-circle2:hover .circle-in{
    scale:1
}
.page3-circle2:hover .circle-in p{
    scale:1;
    opacity: 1;
}
.page3-circle3:hover .circle-in{
    scale:1
}
.page3-circle3:hover .circle-in p{
    scale:1;
    opacity: 1;
}

.flex-container{
    width: 23vw;
}
.flex-container1{
    width: 30vw;
}

.content{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.content h3{
    font-size: 1vw;
    font-weight: 400;
    margin-top: 2vw;
}
.content h3:nth-child(1){
    width: 50%;
}
.underline4{
    height: 1px;
    width: 100%;
    background-color: #ffffffb5;
    margin: 2vw 0;
}
.orange-ball{
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #151515;
}
#center-ball{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 23vw;
    width: 23vw;
    background-color:#FFA63D;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
#center-ball h3{
    font-size: 0.9vw;
    font-weight: 500;
}
#center-ball h3 span{
    font-family: "silk serif";
    font-weight: 400;
}
.page4{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
}
.page4-text{
    width: 73%;
    position: relative;
    left: 27%;
    /* background-color: red; */
}
.page4-text h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    position: relative;
}
.page4-text h1::before{
    content: "03";
    font-family: "silk serif";
    font-size: 3.1vw;
    font-weight: 400;
    position: absolute;
    left: -13%;
    top:5%;
}
.underline{
  background-color: #ffffffbd;
  height: 1px;
  width: 94%;
  margin: 5vw 0;
}
.page4-text>p{
font-size: 2.2vw;
font-weight: 500;
line-height: 2.4vw;
width: 50%;
margin-bottom: 3vw;

}
.page4-img{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    gap: 2.5vw;
}
.page4-img img{
    width:  47%;
    -o-object-fit: cover;
       object-fit: cover;
}
.page4-img p{
    font-size: 1vw;
    line-height: 1.4vw;
    width: 25%;
}
.page4-blue-div{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width:47%;
    padding: 3.8vw 3.5vw;
    background-color: #3F7DF4;
    position: relative;
    margin-left: 23.5vw;
    margin-top: -15vw;
}

.page4-blue-elem{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #ffffffc5;
    padding: 2vw 0;
}
.page4-blue-elem h3{
    font-size: 1.8vw;
    font-weight: 400;
}
.page4-blue-elem h4{
    font-size: 1.1vw;
    font-weight: 400;
    width: 50% ;
}
#underline1{
    margin-top: 8vw;
    margin-bottom: 0.8vw;
}
#para{
    font-size: 1vw;
    margin-bottom: 0;
}
.page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 3vw 0;
    background-color: #151515;
}
.elem, .elem2{
    /* background: red; */
    white-space: nowrap; 
    overflow: hidden;
    /* Don't forget this property whenever making linear scroll animation*/
}
.elem h1, .elem2 h1{
    display: inline-block;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    font-size: 8vw;
    font-weight: 100;
    margin-bottom: -4.7vw;
    margin-right: 16px;
    -webkit-animation-name: scrollAnimation;
            animation-name: scrollAnimation;  
    -webkit-animation-duration: 25s;  
            animation-duration: 25s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    
} 

.elem2 h1{
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    animation-direction: reverse;
    -webkit-animation-duration: 25s;
            animation-duration: 25s;
} 
.elem h1 span, .elem2 h1 span{
    text-transform: uppercase;
    font-style: italic;
    font-size: 8vw;
    font-weight: 100;
    font-family: "silk serif";
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}

@-webkit-keyframes scrollAnimation {
    0%{
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    100%{
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
}

@keyframes scrollAnimation {
    0%{
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    100%{
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
}

#footer{
    min-height: 100vh;
    width: 100%;
    padding: 2vw 0;
    position: relative;
    background-color: #151515;
}
.footer-div{
    width: 73%;
    position: relative;
    left: 27%;
    /* background-color: red; */
}
.arrow{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 2vw;
    
}
.arrow h1{
    text-transform: uppercase;
    font-size: 7vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.arrow h1::before{
    content: "04";
    font-family: "silk serif";
    font-size: 3.1vw;
    font-weight: 400;
    position: absolute;
    left: -22%;
    top:8%;
    
}
.arrow h1 span{
    opacity: 1;
}
.arrow svg{
    height: 6vw;
    width: 6vw;
}
.media-container{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 93%;
}

.social h6, .address h6, .email h6{
    font-size: 1.2vw;
    margin-bottom: 2vw;
    font-weight:600;
}
.social h5, .address h5, .email h5{
    font-size: 2vw;
    line-height: 2.1vw;
    font-weight: 500;
}
.underline2{
    height: 1px;
    width: 93%;
    background-color: #ffffffc5;
    margin-top: 5vw;
    margin-bottom: 2vw;
}
/* #copyright{
    position: relative;
} */
 ._canvas_container{
    z-index: 99999999 !important;
    pointer-events: none;
 }


@media (max-width: 600px) {
    #main{
        background-color: #151515;
    }
    .page1 {
        height: 63vh; 
    }
    
    #nav{
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; 
        padding: 3.2vw 5.3vw;
       
        /* background-color: red; */
    }
    
    #nav-part1{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
        padding: 2.8vw 3vw;
        width:100% ;
    
    }
    #second-svg{
        -webkit-transform: scale(0.85);
            -ms-transform: scale(0.85);
                transform: scale(0.85);
    }
    #nav-part2{
       display: none;
    }
    .nav-part2-2{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 2vw;
    
    }
    .nav-part2-1 h3, .nav-part2-2 h3{
        font-size:16px;
        font-weight: 300;
        line-height: 16px;
        font-weight: 500;
    }
    
    .hero{
        /* background-color: red; */
        width: 73%;
        margin-left: 5%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
        overflow: hidden;
    }
    .heroes{
        position: relative;
    }
    .heroes::before{
        content: "01";
        font-family: "silk serif";
        font-size: 4vw;
        font-weight: 400;
        position: absolute;
        left: 5%;
        top:-0%;
    }
    .hero:nth-child(1){
        margin-top: 22.3vh;
    }
    .hero h1{
        
        font-size: 8.8vw;
        line-height: 9vw;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
    
    }
    .hero h2, .hero h3{
        font-size: 8.8vw;
        line-height: 9vw;
        font-weight: 600;
        text-transform: uppercase;
       
    }
    .hero h2{
        border-bottom: 0.6vw solid white;
        padding-bottom: 5px;
       
    }
    .hero h3{
        font-size: 8.5vw;
        font-weight: 500;
    }
    .hero h2:hover{
        border-bottom: 0.6vw solid transparent;
        -webkit-text-stroke: 1px white;
        color: transparent;
         -webkit-transition: color ease 0.2s;
         -o-transition: color ease 0.2s;
         transition: color ease 0.2s;
        -webkit-transition: border, ease 0.2s;
        -o-transition: border, ease 0.2s;
        transition: border, ease 0.2s; 
    }
    
    #flag{
        height: 23vw;
        position: absolute;
        top:0;
        left: 0;
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        z-index: -99999;
        opacity: 0;
    }
    
    .page2{
        height: 100vh;
        width: 100%;
        background-color: #151515;
        /* padding: 2vh 0 ; */
    }
    .video-container{
        height:70vh;
        width: 100%;
        position: relative;
        /* background-color: red; */
        background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
        background-size: cover;
        left:0;
        background-position: center;
    }
    
    .video-container video{
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        opacity: 0;
    
    }

    .video-cursor{
        height: 16vw;
        width: 16vw;
        border-radius: 50%;
        background-color: #FFA63D;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: absolute;
        top: -5%;
        left: 80%;
        z-index: 999;
        -webkit-transition:scale ease 0.5s;
        -o-transition:scale ease 0.5s;
        transition:scale ease 0.5s;
    }
    .video-cursor i{
        font-size: 2.2vw;
    }
    .page3{
        min-height: 100vh;
        width: 100%;
        background-color: #151515;
        position: relative;
        padding:0 1.5vh;
    }
    .page3 h1{
        font-size: 8.5vw;
        font-weight: 500;
        text-transform: uppercase;
        position: relative;
        width: 100%;
        left: 0;
        
    }
    .page3>h1::before{
        content: "02";
        font-family: "silk serif";
        font-size: 5.1vw;
        font-weight: 400;
        position: absolute;
        left: 0;
        top:-80%;
    }
    .underline3{
      background-color: #ffffffbd;
      height: 1px;
      margin: 5vw 0;
      width: 100%;
      position: relative;
      left: 0;
    }
    .image-text-div{
        height: 100%;
        width: 100%;
        padding:0;
    }
    .image-text-div>h1{
        text-transform: uppercase;
        font-size: 3.5vw;
        font-weight: 600;
        margin: 3vw 0;
        left:0;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
    
    #image-div-container{
        /* background: red; */
        /* padding: 1vw; */
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        /* flex-wrap: wrap; */
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack:start;
            -ms-flex-pack:start;
                justify-content:flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        gap: 2vw;
        /* row-gap:12vw; */
    }
    .image-div{
        height: 95vh;
        width: 90vw;
        /* background-color: blue; */
    }
    .image-div img{
        height: 100%;
        width: 100%;
    }
    #image-div,#image-div5{
        height: 95vh;
        width: 90vw;
    }
    #image-text-div4{
        margin-top: 0;
    }
    #image-text-div5{
        margin-top: 0;
    }
    #image-text-div6{
        margin-top: 0;
    }
    .page3-circle{
        display: none;
    }
    .page3-circle2{
        display: none;
    }
    .page3-circle3{
       display: none;
    }
    
    .flex-container{
        width: 100%;
    }
    .flex-container1{
        width: 100%;
    }
    
    .content{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .content h3{
        font-size: 2.8vw;
        font-weight: 800;
        margin-top:4vh;
    }
    .content h3:nth-child(1){
        width: 50%;
    }
    .underline4{
        height: 2px;
        width: 100%;
        background-color: #ffffffe2;
        margin: 4vh 0;
    }
    .orange-ball{
        height: 70vh;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background-color: #151515;
    }
    #center-ball{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 32vw;
        width: 32vw;
        background-color:#FFA63D;
        border-radius: 50%;
        overflow: hidden;
        -webkit-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s;
    }
    #center-ball h3{
        font-size: 3vw;
        font-weight: 500;
    }
    #center-ball h3 span{
        font-family: "silk serif";
        font-weight: 400;
    }
    .page4{
        position: relative;
        min-height: 100vh;
        width: 100%;
        background-color: #151515;
    }
    .page4-text{
        width: 83%;
        position: relative;
        left: 17%;
        /* background-color: red; */
    }
    .page4-text h1{
        font-size: 6.5vw;
        text-transform: uppercase;
        position: relative;
    }
    .page4-text h1::before{
        content: "03";
        font-family: "silk serif";
        font-size: 3.8vw;
        font-weight: 400;
        position: absolute;
        left: -13%;
        top:5%;
    }
    .underline{
      background-color: #ffffffbd;
      height: 1px;
      width: 94%;
      margin: 5vw 0;
    }
    .page4-text>p{
    font-size: 3.2vw;
    font-weight: 500;
    line-height: 3.4vw;
    width: 50%;
    margin-bottom: 3vw;
    
    }
    .page4-img{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        gap: 2.5vw;
        width: 83%;
    }
    .page4-img img{
        width:  47%;
        -o-object-fit: cover;
           object-fit: cover;
    }
    .page4-img p{
        font-size: 2.4vw;
        line-height: 2.6vw;
        width: 42%;
    }
    .page4-blue-div{
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        width:60%;
        padding: 3.8vw 3.5vw;
        background-color: #3F7DF4;
        position: relative;
        margin-left: 23.5vw;
        margin-top: -15vw;
    }
    
    .page4-blue-elem{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        border-bottom: 1px solid #ffffffc5;
        padding: 2vw 0;
    }
    .page4-blue-elem h3{
        font-size: 2.8vw;
        font-weight: 400;
    }
    .page4-blue-elem h4{
        font-size: 2.1vw;
        line-height: 2.3vw;
        font-weight: 400;
        width: 50% ;
    }
    #underline1{
        margin-top: 8vw;
        margin-bottom: 0.8vw;
    }
    #para{
        font-size: 3vw;
        margin-bottom: 0;
    }
    .page5{
        min-height: 60vh;
        width: 100%;
        position: relative;
        padding: 7vw 0;
        background-color: #151515;
    }
    .elem, .elem2{
        /* background: red; */
        white-space: nowrap; 
        overflow: hidden;
        /* Don't forget this property whenever making linear scroll animation*/
    }
    .elem h1, .elem2 h1{
        display: inline-block;
        color: transparent;
        text-transform: uppercase;
        -webkit-text-stroke: 1px #fff;
        font-size: 8vw;
        font-weight: 100;
        margin-bottom: -4.7vw;
        margin-right: 16px;
        -webkit-animation-name: scrollAnimation;
                animation-name: scrollAnimation;  
        -webkit-animation-duration: 25s;  
                animation-duration: 25s;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        
    } 
    
    .elem2 h1{
        -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
                transform: translateX(-100%);
        animation-direction: reverse;
        -webkit-animation-duration: 25s;
                animation-duration: 25s;
    } 
    .elem h1 span, .elem2 h1 span{
        text-transform: uppercase;
        font-style: italic;
        font-size: 8vw;
        font-weight: 100;
        font-family: "silk serif";
        color: transparent;
        -webkit-text-stroke: 1px #fff;
    }
    #footer{
        min-height: 100vh;
        width: 100%;
        padding: 2vw 0;
        position: relative;
        background-color: #151515;
    }
    .footer-div{
        width: 95%;
        position: relative;
        left: 5%;
        /* background-color: red; */
    }
    .arrow{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        gap: 4vw;
        
    }
    .arrow h1{
        text-transform: uppercase;
        font-size: 9vw;
        font-weight: 600;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .arrow h1::before{
        content: "04";
        font-family: "silk serif";
        font-size: 5vw;
        font-weight: 400;
        position: absolute;
        left: 0;
        top:-70%;
        
    }
    .arrow svg{
        height: 8vw;
        width: 8vw;
    }
    .media-container{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        gap: 5vw;
        width: 93%;
    }
    
    .social h6, .address h6, .email h6{
        font-size: 2.8vw;
        margin-bottom: 4vw;
        font-weight:600;
    }
    .social h5, .address h5, .email h5{
        font-size: 4.5vw;
        line-height: 4.7vw;
        font-weight: 500;
    }
    .underline2{
        height: 1px;
        width: 93%;
        background-color: #ffffffc5;
        margin-top: 8vw;
        margin-bottom: 2vw;
    }
    /* #copyright{
        position: relative;
    } */
     ._canvas_container{
        z-index: 99999999 !important;
        pointer-events: none;
     }
    
}
@media (max-width:450px){
    .page1{
        height: 50vh;
    }
    .image-div{
        height: 60vh;
        width: 90vw;
    }
    #image-div, #image-div5{
        height: 60vh;
        width: 90vw;
    }
    .orange-ball{
        height:50vh;
    }
    .page4{
        min-height: 70vh;
    }
    .page5{
        min-height: 40vh;
        padding:20vh 0;
    }
}